<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>:: Sign Up ::</title>
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<!-- Custom Css -->
<link href="/css/main.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-cyan login-page authentication">
<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><span>Hospital Management System</span>Register <span class="msg">Register for administrator account</span></h1>
        <div class="col-md-12">
            <form action="/users/admin_submit_sign_up" class="col-xs-12" method="POST">            
            
            
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-email"></i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" name="Email" placeholder="Email Address" required>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-account"></i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="Username" placeholder="Username" required autofocus>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-key"></i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="Key" placeholder="Authentication Key" required>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="Password" minlength="6" placeholder="Password" required>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="ConfirmPassword" minlength="6" placeholder="Confirm Password" required>
                </div>
            </div>
            <!-- <div class="form-group">
                <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
            </div> -->
            <div class="text-center">
                <button type="submit" class="btn btn-raised g-bg-cyan">SIGN UP</button>
            </div>
            <div class="m-t-10 m-b--5 align-center">
                <a href="/">You already have an account?</a>
            </div>
        </form>
        </div>
    </div>  
</div>
<div class="theme-bg"></div>
<!-- Jquery Core Js --> 
<script src="/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
</body>
</html>