<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>:: Book Appointment ::</title>
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<!-- Bootstrap Material Datetime Picker Css -->
<link href="/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<!-- Wait Me Css -->
<link href="/plugins/waitme/waitMe.css" rel="stylesheet" />
<!-- Bootstrap Select Css -->
<link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<link href="/css/main.css" rel="stylesheet">
<!-- Custom Css -->
<link href="/css/themes/all-themes.css" rel="stylesheet" />

<!-- console.log(timeConvert(200)); -->
</head>

<body class="theme-blue">

<!-- #Top Bar -->
<section> 
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar"> 
       <br>
       <br>

        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li><a href="/users/doctor_dashboard"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>                                               
                <li class="active open"><a class="menu-toggle"><i class="zmdi zmdi-calendar-check"></i><span>Appointment</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/doctor_upcoming_appointments">Upcoming Appointments</a></li>
                        <li><a href="/users/doctor_past_appointments">Past Appointments</a></li>
                        <li class="active open"><a href="/users/doctor_book_appointment">Book Appointment</a></li>
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-developer-board"></i><span>Prescription</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/doctor_view_prescription">Prescription List</a></li>
                        <li><a href="/users/doctor_add_prescription">Add Prescription</a></li>
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-filter-frames"></i><span>Report</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/doctor_view_birth_report">Birth Report</a></li>
                        <li><a href="/users/doctor_view_operation_report">Operation Report</a></li>
                        <li><a href="/users/doctor_view_expire_report">Expire Report</a></li>
                        <li><a href="/users/doctor_add_report">Add Report</a></li>
                    </ul>
                </li>
                <li><a href="/users/doctor_logout"><i class="zmdi zmdi-sign-in"></i><span>Log Out</span> </a></li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar --> 

</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Book Appointment</h2>
            <small class="text-muted">Welcome to Hospital Management System</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Appointment Information  </h2>
                        <small><strong>STEP 1/2</strong></small>

                    </div>
                    <form action="/users/doctor_submit_book_appointment" method = "POST">
                    <div class="body">
                        <div class="row clearfix">   
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="PatientPhone" class="form-control show-tick" required>
                                        <option value="">Select Patient*</option>
                                        {{# each patients}}
                                        <option value={{this.phone}}>{{this.name}} ({{this.phone}})</option>
                                        {{/each}}
                                    </select>     
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input name="Date" type="text" class="datepicker form-control" placeholder="Appointment Date*" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-raised g-bg-cyan">Next</button>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="color-bg"></div>
<!-- Jquery Core Js --> 
<script src="/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/bundles/morphingsearchscripts.bundle.js"></script> <!-- morphing search Js --> 
<script src="/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<!-- Bootstrap Material Datetime Picker Plugin Js --> 
<script src="/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 

<script src="/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="/bundles/morphingscripts.bundle.js"></script><!-- morphing search page js --> 
<script src="/js/pages/forms/basic-form-elements.js"></script>
</body>
</html>